/* Стили для index.html*/

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-top: 0;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* For all sections */

.section .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* Features */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/* .feature-list .text:last-child {
  margin-bottom: 0;
  margin-top: 0;
} */

/* Work */

.section.works {
  padding-bottom: 94px;
}

.work-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

/* Our team */

.team-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Стили для portfolio.html*/

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  list-style: none;

  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-button);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.example-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 0;
  padding-left: 0;
}

.item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.example-list .link {
  text-decoration: none;
  color: var(--text-main-color);
}

.card-footer .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-footer .text {
  font-size: 16px;
  line-height: 1.9;
}

.link {
  display: flex;
  flex-direction: column;
}
.link > .content {
  flex-grow: 1;
}
