/* Common styles */

body {
  background-color: var(--primary-bg-color);
  color: var(--slate-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --white-color: #ffffff;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --dairy-color: rgba(46, 47, 66, 0.4);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue-color);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* index.html styles */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--cornflower-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-link {
  display: inline-block;
  padding: 24px 0;
}

.logo {
  display: block;
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-text {
  color: var(--navy-blue-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--navy-blue-color);
  font-weight: 500;
  font-style: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

/* Hero section */

.hero {
  background-color: var(--navy-blue-color);
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  color: var(--white-color);
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  background-color: var(--iris-color);
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* Peculiarities section */

.peculiarities-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.peculiarities-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.peculiarities-item {
  width: calc((100% - 3 * 24px) / 4);
}

.peculiarities-card-text {
  letter-spacing: 0.02em;
}

/* Our Team section */

.team {
  background-color: var(--cloud-color);
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-list-item {
  background-color: var(--white-color);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-card-footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item h3 {
  text-align: center;
}

.team-card-text {
  font-size: 16px;
  text-align: center;
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-card-footer {
  padding: 32px 16px;
  border-right: 1px solid var(--cornflower-color);
  border-bottom: 1px solid var(--cornflower-color);
  border-left: 1px solid var(--cornflower-color);
}

.portfolio-card-text {
}

/* Footer */

.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.secondary-logo-text {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  width: 270px;
}
